:root {
    --main-fg-color: #000;
    --main-bg-color: #FFF;
    --icon-size: 32px;
}

html {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

.file-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.file-entry {
    padding-bottom: 7px;
    display: flex;
    align-items: center;
}

.entry-icon {
    margin-right: 17px;
}

.icon-folder {
    background-image: url("img/icons-32.png");
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: 0px 0px;
}

.icon-file {
    background-image: url("img/icons-32.png");
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: 32px 0px;
}

a {
    text-decoration: none;
    color: var(--main-fg-color);
}

a:hover {
    color: blue;
}