#container {

}

.type-icon {
    padding-left: .4em;
    font-size: 1.5em;
}

.folder-icon:visited, .folder-icon {
    color: #eaca17;
}

.file-row {
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-row > a:hover > span.folder-icon {
    color: #afb649;
}

.file-icon, .file-icon:visited {
    color: #d1d596;
}

.file-row > a:hover > span.file-icon {
    color: #a7ad52;
}

.action {
    margin-left: auto;
    font-size: 1.75em;
}

a.action, a.action:visited {
    color: #e3e2de;
}

.file-row > a.action:hover {
    color: #5e5c50;
}

.file-row-item {
    align-items: center;
}

.file-holder {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.file-name {
    font-size: 1.4em;
}

.file-details {
    font-size: .7em;
}

.menu-link {
    font-size: 1.7em;
    color: #b49c9c;
    margin-right: .2em;
}

.menu-active {
    color: white;
}
